@charset "UTF-8";



#Tutorialtext
{
	background: #f2f2f2;

  	margin: 8%;
	
	width: 10%;

  	padding-left: 5%;

  	padding-right: 5%;

  	padding-top: 5%;

  	padding-bottom: 5%;
	
	
}

#CarSelect
{
	width: 50%;
}

h1
{
	color: red;
	padding-left: 5%	
	 
}
h2
{
	color: red;
	padding-left: 5%;
}

